<template name="newcase">
       
<core-header-panel flex style="background-color:white;">
    <core-toolbar>
        <core-icon-button id="cancel-button" icon="close" ></core-icon-button>
        <div flex>New Case</div>
        <core-icon-button id="save-button" icon="done" end ></core-icon-button>
    </core-toolbar>
    <div class="default-content" flex layout >
        <form id="newform">
        <paper-input-decorator label="Title">
            <input name="title" is="core-input">
        </paper-input-decorator>
        <paper-dropdown-menu id="assignedTo" label="Assigned To" >
            <paper-dropdown class="dropdown" >
            <core-menu class="menu" >
                <paper-item >john.doe@gmail.com</paper-item>
                <paper-item >jane.smith@gmail.com</paper-item>
                <paper-item >phil@philcruz.com</paper-item>
                <paper-item >test@test.com</paper-item>
            </core-menu>
        </paper-dropdown>
</paper-dropdown-menu>
        <div>
            <paper-autogrow-textarea id="contentArea" flex>
                <textarea name="question" placeholder="Type your question here..."></textarea>
            </paper-autogrow-textarea>
        </div><button type="submit" name="submit-btn"></button>
        </form>
    </div>
</core-header-panel>
</template>