<template name="viewcase">
       
<core-header-panel flex style="background-color:white;">
    <core-toolbar>
        <core-icon-button id="cancel-button" icon="close" ></core-icon-button>
        <div flex>Case [{{_id}}]</div>
        <core-icon-button id="save-button" icon="done" end ></core-icon-button>
        <core-icon-button id="send-button" icon="send" end ></core-icon-button>
    </core-toolbar>
    <div class="default-content" flex layout >
        <form id="caseform">
        <paper-input-decorator label="Title">
            <input name="title" is="core-input" value="{{title}}">
        </paper-input-decorator>
        <paper-dropdown-menu id="assignedTo" label="Assigned To" >
            <paper-dropdown class="dropdown" >
            <core-menu class="menu" selected="{{assignedTo}}" valueattr="value">
                <paper-item value="john.doe@gmail.com" >john.doe@gmail.com</paper-item>
                <paper-item value="jane.smith@gmail.com" >jane.smith@gmail.com</paper-item>
                <paper-item value="phil@philcruz.com" >phil@philcruz.com</paper-item>
                <paper-item value="test@test.com" >test@test.com</paper-item>
            </core-menu>
            </paper-dropdown>
        </paper-dropdown-menu>
        <div>            
            <paper-autogrow-textarea id="question" flex>
                <textarea name="question" >{{question}}</textarea>
            </paper-autogrow-textarea>
        </div>
        <div>
            <paper-autogrow-textarea id="answer" flex>
                <textarea name="answer" placeholder="Reply...">{{answer}}</textarea>
            </paper-autogrow-textarea>
        </div>
            <button type="submit" name="submit-btn"></button>
        </form>
    </div>
</core-header-panel>
</template>